@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  
  --color-accent-primary: #36e826; /* Green */
  --color-accent-secondary: #2fb820;
  --color-dark-bg: #0a0a0a;
  --color-card-bg: #232323;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent-primary);
}
::-webkit-scrollbar-track {
  background: black;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #0a0a0a;
}
